{% extends 'private_base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h1>{{ page_name }}</h1>
<!--Start content-->

<div class="content-section">
  <div class="media">
    <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle account-img">
    <div class="media-body">
      <br>
      <p class="text-secondary"> {{ user.first_name }}  {{ user.last_name }}</p>
      <p class="text-secondary"> {{ user.email }}</p>
    </div>
  </div>
  <!-- FORM HERE-->

  <form method="POST" enctype ="multipart/form-data">
    {% csrf_token %}
    <!--To make the form work in django-->
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">My Info</legend>
      {{ u_form|crispy }} <!---->
      {{ p_form|crispy }} <!---->
    </fieldset>

    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Update</button>
    </div>

    <a href=""></a>
  </form>

</div>

{% endblock %}
<!--End content-->