{% extends "password_reset_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}
{% block content %}
<div class="container">
    <br><br><br><br><br><br>
	<div class="row">
		<div class="col-md-4 m-auto col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">
                    <form id="reset-form" role="form" autocomplete="off" class="form" method="post">
                        {% csrf_token %}
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                            <input type="email" name="email"  placeholder="email address" class="form-control" autocomplete="email" maxlength="254" required="" id="id_email">
                        </div>
                      </div>
                        {% if form.errors %}
                            {% for field in form %}
                                {{field.name | crispy }}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                      <div class="form-group">
                         <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
</div>

{% endblock %}