{% extends 'private_base.html' %}
{% load static%}
{% load crispy_forms_tags %}
{% block content %}
<br>
    <div class="container">
                <h2 style="text-align:center">{{ page_name }}</h2>
            <table id="staff_table" class="table table-sm table-responsible"  style="width:100%">
                <thead>
                   <tr class="">
                      <th>#</th>
                      <th><h2>Title</h2></th>
                       <th><h2>Intro about the product</h2></th>
                      <th><h2>Action</h2></th>
                    </tr>
                </thead>
              <tbody >
                 {% include 'main/private/product/partial_product_list.html' %}
              </tbody>
            </table>

            <div class="row">
                <div class="col-md-8 my-auto">
                    <h2 >Showing page {{product_obj.number}} of {{product_obj.paginator.num_pages}}</h2>
                 </div>
            </div>
        <br>
            <!--Pagination-->
            {% include 'main/private/product/pagination.html' %}
            <!--end of Pagination-->

        <br>
    {% include 'includes/search_scripts.html' %}
    <script src="{% static 'js/data_analysis/dataTables.js' %}"></script>
    </div>

{% endblock content%}