{% load static %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/data_analysis/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/data_analysis/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/data_analysis/dataTables.searchPanes.min.js' %}"></script>
<script src="{% static 'js/data_analysis/dataTables.select.min.js' %}"></script>
<script src="{% static 'js/data_analysis/highcharts.js' %}"></script>